* {
  @include box-sizing;
  line-height: 1.5;
}

@font-face {
    font-family: 'Iosevka';
    src: url('/fonts/Iosevka-Thin.ttc') format('truetype');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Iosevka';
    src: url('/fonts/Iosevka-ExtraLight.ttc') format('truetype');
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Iosevka';
    src: url('/fonts/Iosevka-Light.ttc') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Iosevka';
    src: url('/fonts/Iosevka-Regular.ttc') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Iosevka';
    src: url('/fonts/Iosevka-Medium.ttc') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Iosevka';
    src: url('/fonts/Iosevka-SemiBold.ttc') format('truetype');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Iosevka';
    src: url('/fonts/Iosevka-Bold.ttc') format('truetype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Iosevka';
    src: url('/fonts/Iosevka-ExtraBold.ttc') format('truetype');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Iosevka';
    src: url('/fonts/Iosevka-Heavy.ttc') format('truetype');
    font-weight: 900;
    font-style: normal;
  }  

html,
body {
  color: $default-color;
  font-family: 'Iosevka', monospace;
  margin: 0;
  padding: 0;
}

html {
  font-family: $serif-primary;
  font-size: 14px;
  overflow-y: scroll;

  @media (min-width: 600px) {
    font-size: 16px;
  }
}

body {
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $default-shade;
  font-family: $sans-serif;
  line-height: normal;
}

a {
  color: $blue;
  text-decoration: none;
}

blockquote {
  border-left: .25rem solid $grey-2;
  color: $grey-1;
  margin: .8rem 0;
  padding: .5rem 1rem;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 600px) {
    padding: 0 5rem 0 1.25rem;
  }
}

img {
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
}

td {
  vertical-align: top;
}
